Repository dev-komenzar/portfilio-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add&fix; カルーセルの追加と、それに伴うグローバルCSSの変更、その影響があったアイコンを変更
  package.json
  pnpm-lock.yaml
  src/lib/components/ui/SkillIcon.svelte
  src/lib/data/works/data.remote.ts
  src/lib/styles/global.css
  src/lib/styles/variables.css
  src/routes/+layout.server.js
  src/routes/works/[slug]/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

fix: グローバルのimgスタイルを消した影響を修正
  src/lib/components/ui/SoccialLink.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

fix: Prerenderのためのslugを準備
  src/lib/data/works/index.ts
  src/routes/works/[slug]/+page.server.ts
Due: eslint --fix

add: Google アドセンスコード
  src/routes/+layout.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: Dockerfileを作成。デプロイの準備をした。
  .prototools
  Dockerfile
  build.sh
  package.json
  pnpm-lock.yaml
Due: none

add: pnpm approve build
  package.json
Due: none

fix: node version
  Dockerfile
  package.json
Due: none

fix: 'Projects'というキーワードを'Works'に置き換え
  src/lib/data/works/index.ts
  src/lib/types/project.ts
  src/lib/utils/markdown.ts
Due: eslint --fix

fix: Spec node v22
  .prototools
Due: none

fix: 'project'というキーワードを'work'に書き換え
  .kiro/specs/portfolio-showcase/design.md
  .kiro/specs/portfolio-showcase/tasks.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  README.md
  messages/en.json
  messages/ja.json
  src/lib/data/works/README.md
  src/lib/data/works/data.remote.ts
  src/lib/data/works/index.ts
  src/lib/data/works/md/portfolio.md
  src/lib/types/work.ts
  src/lib/utils/markdown.ts
  src/routes/section-works.svelte
  src/routes/works/+page.svelte
  src/routes/works/[slug]/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

Delete the sample md file
  src/lib/data/works/md/sample-project.md
Due: none

fix: 不要なロックファイルを削除
  package-lock.json
Due: none

Adsenseで「ポリシー違反が見つかりました」と表示され広告掲載ができない問題を分析し、原因を調査する (vibe-kanban 20666433)
  CLAUD.md
Due: none

Lint md file
  CLAUD.md
Due: none

my-10k-day.md の本文を書く (vibe-kanban b4a42402)
  src/lib/data/works/md/my-10k-day.md
Due: none

my-10k-day.md の本文を書く (vibe-kanban b4a42402)
  src/lib/data/works/md/portfolio.md
Due: none

技術記事機能の実装が完了しました！以下、実装内容をまとめます：
  .env.example
  src/lib/data/blog/index.ts
  src/lib/data/blog/md/sample.md
  src/lib/types/blog.ts
  src/lib/utils/markdown.ts
  src/lib/utils/umami.ts
Due: eslint --fix

`zennUrl`と`zennLikes`フィールドを削除しました！型定義、パーサー、サンプルファイルはすでにこれらのフィールドを含んでいないので、変更は完了です。
  src/lib/types/blog.ts
  src/lib/utils/markdown.ts
Due: eslint --fix

サムネイル行を削除しました！これで404エラーが解消され、サンプル記事にはタグベースのグラデーションサムネイルが自動生成されて表示されるはずです。
  src/lib/data/blog/md/sample.md
Due: none

技術ブログ機能の完成とバグ修正
  src/lib/components/ui/GradientThumbnail.svelte
  src/lib/components/ui/ThumbnailCard.svelte
  src/lib/data/blog/index.ts
  src/lib/data/works/index.ts
  src/lib/utils/gradient.ts
  src/routes/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/blog/+page.ts
  src/routes/blog/[slug]/+page.svelte
  src/routes/blog/[slug]/+page.ts
  src/routes/section-blog.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

merge from "implement the technical article function" implement the technical article function
  src/lib/components/ui/GradientThumbnail.svelte
  src/lib/components/ui/ThumbnailCard.svelte
  src/lib/data/blog/index.ts
  src/lib/data/blog/md/sample.md
  src/lib/data/works/index.ts
  src/lib/types/blog.ts
  src/lib/utils/gradient.ts
  src/lib/utils/markdown.ts
  src/lib/utils/umami.ts
  src/routes/+page.svelte
  src/routes/blog/+page.svelte
  src/routes/blog/+page.ts
  src/routes/blog/[slug]/+page.svelte
  src/routes/blog/[slug]/+page.ts
  src/routes/section-blog.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

ブログ記事には英語版は必要なくなった。関係するコードを削除する (vibe-kanban 31b8241e)
  package.json
  pnpm-lock.yaml
  src/lib/data/blog/md/sample.md
  src/lib/types/blog.ts
  src/lib/utils/markdown.ts
  src/routes/blog/+page.svelte
  src/routes/blog/[slug]/+page.svelte
  src/routes/section-blog.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

Front matter CMSを追加した。今後マークダウンの管理をこれで行う。
  .frontmatter/database/pinnedItemsDb.json
  .frontmatter/database/taxonomyDb.json
  frontmatter.json
Due: none

Change the definition of the front matter of blog post (vibe-kanban 7ec57a05)
  src/lib/data/blog/index.ts
  src/lib/data/blog/md/sample.md
  src/lib/types/blog.ts
  src/lib/utils/markdown.ts
  src/routes/blog/+page.ts
  src/routes/blog/[slug]/+page.ts
  src/routes/section-blog.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: zennから記事を移動した
  src/lib/data/blog/md/2025-11-12-elixirで自動化ツール作ってみた【はじめてのelixir】.md
  src/lib/data/blog/md/2025-11-12-ffmpegでmp3のノイズを除去する方法.md
  src/lib/data/blog/md/2025-11-12-logseqでクエリを書くための資料個人的まとめ.md
  src/lib/data/blog/md/2025-11-12-nodenv-anyenvをアンインストール.md
  src/lib/data/blog/md/2025-11-12-yarnをグローバルからproto管理に移行【nix-home-manager】.md
  src/lib/data/blog/md/2025-11-12-【eslint-alternative】既存のnextjsプロジェクトにxoを導入する.md
  src/lib/data/blog/md/2025-11-12-【msw】svelte-開発でモックを使う方法.md
  src/lib/data/blog/md/2025-11-12-【nix】nodepackagesは廃止されていくらしいよ.md
  src/lib/data/blog/md/2025-11-12-【prettier-eslint-stylelint】コミットする前にフォーマットしたい【husky】.md
  src/lib/data/blog/md/2025-11-12-ぼくの考えるさいきょうのsvelte開発環境.md
  src/lib/data/blog/md/2025-11-12-既存のサイトにsvelteを導入する.md
  src/lib/data/blog/md/sample.md
Due: none

fix: 未定義のidを記入した
  src/lib/data/blog/md/2025-11-12-logseqでクエリを書くための資料個人的まとめ.md
  src/lib/data/blog/md/2025-11-12-nodenv-anyenvをアンインストール.md
  src/lib/data/blog/md/2025-11-12-yarnをグローバルからproto管理に移行【nix-home-manager】.md
Due: none

fix: フロントマターが二重になっていたので削除した
  src/lib/data/blog/md/2025-11-12-yarnをグローバルからproto管理に移行【nix-home-manager】.md
Due: none

add: ads.txt
  static/ads.txt
Due: none

feat: パッケージ管理をProtoからNixへ移行
  .envrc
  .gitignore
  .prototools
  package.json
  shell.nix
Due: none

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.svelte)
  svelte-check --tsconfig ./tsconfig.json: any of: *.svelte
