Repository dev-komenzar/portfilio-2025: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, svelte-check --tsconfig ./tsconfig.json

VSCODE拡張機能のリストを作成。ディレクトリベースで設定を行う方針を固めた。
  .vscode/extensions.json
Due: none

- [x] 2. 基本レイアウトとナビゲーションの実装 - [x] 2.1 共通レイアウトコンポーネントの作成 - ヘッダー、フッター、メインコンテンツ領域の構造を実装 - レスポンシブデザインの基盤を設定 - _要件: 5.1, 5.3_
  .kiro/specs/portfolio-showcase/tasks.md
  .kiro/steering/coding-rules.md
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/MobileNav.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/styles/global.css
  src/lib/styles/variables.css
  src/lib/utils/scrollUtils.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/projects/+page.svelte
  src/routes/projects/[slug]/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

- [x] 3.1 Paraglide.js の設定 - 日本語をベース言語として設定 - 英語のメッセージファイル拡充 - 言語切り替えロジックの実装（Paraglide APIを使用） - 言語切り替え時のURL変換処理 - ブラウザの言語設定検出と初期言語設定 - 言語間のナビゲーション処理 - _要件: 6.1, 6.2, 6.3_
  .kiro/specs/portfolio-showcase/design.md
  .kiro/specs/portfolio-showcase/tasks.md
  eslint.config.js
  messages/en.json
  messages/ja.json
  package.json
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/LanguageSwitcher.svelte
  src/lib/components/layout/MobileNav.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/utils/languageUtils.ts
  src/lib/utils/scrollUtils.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/projects/[slug]/+page.svelte
  vite.config.ts
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

3. 多言語対応の実装 - [x] 3.1 Paraglide.js の設定 - 日本語をベース言語として設定 - 英語のメッセージファイル拡充 - 言語切り替えロジックの実装（Paraglide APIを使用） - 言語切り替え時のURL変換処理 - ブラウザの言語設定検出と初期言語設定 - 言語間のナビゲーション処理 - _要件: 6.1, 6.2, 6.3_
  .kiro/specs/portfolio-showcase/tasks.md
  messages/en.json
  messages/ja.json
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/LanguageSwitcher.svelte
  src/lib/components/layout/MobileNav.svelte
  src/lib/components/layout/ThemeToggle.svelte
  src/lib/styles/variables.css
  src/lib/utils/languageUtils.ts
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

4.2 共通UIコンポーネントの作成 - ボタン、カード、モーダルなどの基本UIコンポーネント - アニメーションとトランジション - _要件: 5.1, 5.2_
  .kiro/specs/portfolio-showcase/tasks.md
  src/lib/components/ui/Button.svelte
  src/lib/components/ui/Card.svelte
  src/lib/components/ui/Modal.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

lint-stagedのみを実行するように更新
  .husky/pre-commit
Due: none

プロジェクト例をsvelteからマークダウンに変更＆Lint
  .kiro/specs/portfolio-showcase/design.md
  .kiro/specs/portfolio-showcase/requirements.md
  .kiro/specs/portfolio-showcase/tasks.md
Due: none

add svelte extension
  .vscode/extensions.json
Due: none

update: 一部エラーを警告に。マークダウン関連で不都合なルールについて。
  eslint.config.js
Due: eslint --fix

不要なカテゴリーメタデータを削除
  .kiro/specs/portfolio-showcase/design.md
Due: none

add: プロジェクト情報のマークダウンファイルを作成
  src/lib/projects/md/hodoji-web.md
  src/lib/projects/md/my-10k-day.md
  src/lib/projects/md/portfolio.md
Due: none

fix: セクション名を変更
  .kiro/specs/portfolio-showcase/design.md
Due: none

add: Paraglideのメッセージをコンパイルするスクリプトを追加した。
  package.json
Due: none

頭のなかのイメージを書き出して設計にする
  README.md
Due: none

色の変数名をアップデート
  README.md
Due: none

再利用するスタイルを取捨選択
  src/app.html
  src/lib/styles/global.css
  src/lib/styles/variables.css
Due: none

Delete bun lock file: Use PNPM
  bun.lock
Due: none

`+layout.svelte, +page.svelte`のスケルトンを用意した。
  messages/en.json
  messages/ja.json
  project.inlang/.gitignore
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Header.svelte
  src/lib/components/layout/MobileNav.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/styles/global.css
  src/routes/+layout.svelte
  src/routes/+page.svelte
  src/routes/section-about-me.svelte
  src/routes/section-contact.svelte
  src/routes/section-hero.svelte
  src/routes/section-works.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

`projects`ディレクトリを`works`にリネーム
  src/lib/works/README.md
  src/lib/works/index.ts
  src/lib/works/md/hodoji-web.md
  src/lib/works/md/my-10k-day.md
  src/lib/works/md/portfolio.md
  src/lib/works/md/sample-project.md
Due: eslint --fix

add: Hero section
  package.json
  pnpm-lock.yaml
  src/lib/components/ui/three/Scene.svelte
  src/lib/components/ui/three/ThreeShader.svelte
  src/lib/components/ui/three/shaders/fragment.glsl
  src/lib/components/ui/three/shaders/vertex.glsl
  src/routes/section-hero.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

refactor: handle camera oncreate
  src/lib/components/ui/three/Scene.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

changed dir
  src/lib/utils/works/README.md
  src/lib/utils/works/index.ts
  src/lib/utils/works/md/hodoji-web.md
  src/lib/utils/works/md/my-10k-day.md
  src/lib/utils/works/md/portfolio.md
  src/lib/utils/works/md/sample-project.md
Due: eslint --fix

DO NOT use tab for indentation
  src/lib/utils/works/md/my-10k-day.md
  src/lib/utils/works/md/portfolio.md
Due: none

add: implement remote data fetching for projects and enhance works section
  src/lib/utils/works/data.remote.ts
  src/routes/section-works.svelte
  svelte.config.js
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: サムネ付きカードUIを作成
  src/lib/components/ui/ThumbnailCard.svelte
  src/lib/utils/works/md/hodoji-web.md
  src/lib/utils/works/md/my-10k-day.md
  src/lib/utils/works/md/sample-project.md
  src/routes/section-works.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

fix: CSS変数を使用
  src/lib/components/ui/Card.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

mkdir `$lib/data`
  README.md
  src/lib/data/works/README.md
  src/lib/data/works/data.remote.ts
  src/lib/data/works/index.ts
  src/lib/data/works/md/hodoji-web.md
  src/lib/data/works/md/my-10k-day.md
  src/lib/data/works/md/portfolio.md
  src/lib/data/works/md/sample-project.md
  src/routes/section-works.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

update: `about_me_self_intro`に自己紹介文を書いた。
  messages/ja.json
Due: none

Aboutセクション
  src/lib/assets/skills/icons/clojure.svg
  src/lib/assets/skills/icons/css.svg
  src/lib/assets/skills/icons/elixir.svg
  src/lib/assets/skills/icons/javascript.svg
  src/lib/assets/skills/icons/logseq.svg
  src/lib/assets/skills/icons/notion.svg
  src/lib/assets/skills/icons/obsidian.svg
  src/lib/assets/skills/icons/react.svg
  src/lib/assets/skills/icons/svelte.svg
  src/lib/assets/skills/icons/typescript.svg
  src/lib/assets/skills/icons/vue.svg
  src/lib/components/ui/SkillIcon.svelte
  src/lib/data/skills.ts
  src/routes/section-about-me.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: HTMLを追加
  src/lib/assets/skills/icons/html.svg
  src/lib/data/skills.ts
Due: eslint --fix

add: グリッドヘルパーを無効にした
  src/lib/components/ui/three/Scene.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

lint
  src/lib/components/ui/SoccialLink.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: お問合せセクション
  src/lib/assets/socials/github-mark.svg
  src/lib/assets/socials/gmail.svg
  src/lib/assets/socials/zenn.svg
  src/lib/components/ui/SkillIcon.svelte
  src/lib/data/social.ts
  src/routes/section-contact.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: WORKSページを作成
  messages/en.json
  messages/ja.json
  src/routes/projects/+page.svelte
  src/routes/projects/[slug]/+page.svelte
  src/routes/section-works.svelte
  src/routes/works/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

lint
  README.md
Due: none

fix: プロジェクト構造を変更した
  README.md
Due: none

add: 個別ワークページ
  package.json
  pnpm-lock.yaml
  src/lib/data/works/data.remote.ts
  src/lib/data/works/index.ts
  src/routes/works/[slug]/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

add: ワークス一覧から各ページへのリンクを設置
  src/lib/components/ui/ThumbnailCard.svelte
  src/routes/section-works.svelte
  src/routes/works/+page.svelte
Due: eslint --fix, svelte-check --tsconfig ./tsconfig.json

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.svelte)
  svelte-check --tsconfig ./tsconfig.json: any of: *.svelte
